#title {
    text-align: center;
    font-size: 24px;
    height: 10%;
}

.row {
    width: 100%;
}

#gamegrid {
    width: 390px;
    height: 390px;
    margin: auto;
}

.gamegridrow {
    height: 30px;
    padding: 0px;
    margin: 0px;
}

.gamegridcolumn {
    width: 30px;
    height: 100%;
    float: left;
}

.tileimg {
    height: 100%;
    width: 100%;
}

#movebuttons {
    margin: auto;
    width: 181px;
}